# strongswan templates/ipsec.secrets - {{ ansible_managed }}
#
# SPDX-FileCopyrightText: © 2020 Open Networking Foundation <support@opennetworking.org>
# SPDX-License-Identifier: Apache-2.0

{% for conn in strongswan_conf_connections %}
{{ conn.right }} : PSK "{{ conn.psk }}"
{% endfor %}
